@import url('https://fonts.googleapis.com/css?family=Oswald');
*{
  margin:0;
  padding:0;
}
.App {
  text-align: center;
  font-family: 'Oswald', sans-serif;
  background-color:rgb(241, 61, 55);
  height:100vh;
}
.heading{
  position: absolute;
  margin: 0 auto 0 auto;
  margin-left:40%;
  margin-top:20%;
}
.cash{
  color:green;
}
.features{
  margin-top:25%;
  margin-left:80%;
}
.features h2{
  text-align: left;
  margin-left:15%;
}
.features ul li{
  text-align: left;
}
.towtruck-image{
  position:relative;
  float:left;
  margin-left:15%;
  width: 100%;
  height:100%;
  margin-left:0;
}
.towtruck-image img{
  width:100%;
  height:40%;
}
.contact{
  position:absolute;
  float:right;
  margin-top:25%;
  margin-left:10%;
  animation: colorful ease-in-out 1s infinite;
  font-size:120%;
}
.cash-image{
  position: absolute;
  animation: flashImage linear 1s infinite;
}
.cash-image img{
  border-radius:30%;
  margin-top:35%;
  margin-left:20%;
}
@keyframes flashImage {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes colorful {
  0%{
    color:black;
  }
  50%{
    color:blue;
  }
  75%{
    color:green;
  }
  100%{
    color:yellow;
  }
}
.features{
  position:absolute;
  float:left;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.footer{
  position: absolute;
  bottom:0;
  width:100%;
  height:60px;
}
.footer-list li{
  display:inline;
  padding:0 1% 0 1%;
}