.App {
  text-align: center;
}
.features ul li{
  list-style-type: none;
  text-align: left;
}
.towtruck-image{
  position:relative;
  float:left;
  margin-left:15%;
}
.towtruck-image img{
  border-radius: 25%;
}
.contact{
  position:relative;
  float:left;
  margin-top:15%;
}
.cash-image{
  position: relative;
}
.features{
  position: absolute;
  float:left;
  margin-top:15%;
}
.contact-cash-image{
  display:inline;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
