.towtruck-image{
    position: relative;
    width:100%;
    height:40%;
}
.towtruck-image h1{
    position: absolute;
    z-index: 10;
    font-size:500%;
    margin-left:2%;
    margin-top:2%;
}
.towtruck-image img{
    position: relative;
    width:100%;
    height:100%;
}
.heading-call{
    position: absolute;
    color:red;
    z-index: 10;
    margin-left:45%;
    font-size:90%;
}
.heading-call a{
    color:red;
    animation: colorful .2s infinite;
}