.footer{
    position: relative;
    bottom:0;
    width:100%;
    height:60px;
    font-size:160%;
    background-color:black;
    color:white;
}
.footer-list li{
    display:inline;
    padding:0 3% 0 3%;
    /* font-size:2vw; */
}
/* @media screen and (max-width:375px){
    .footer-list li{
        font-size:4vw;
    }
}
@media screen and (max-width:768px){
    .footer-list li{
        font-size:4vw;
    }
}
@media screen and (max-width:320px){
    .footer-list li{
        font-size:4vw;
    }
} */